

body{
    background-color: #34495e;
    align-self: center;
    color: #ecf0f1;
}

h1{
    padding-bottom: 40px;
    text-align: center;
    color: #ecf0f1;
}

#errorMessage{
    color: #c0392b;
    text-align: center;
    margin-top: 15px;
    font-weight: 800;
}

a{
    color: #ecf0f1;
    text-align: center; 
}

#message-field {
    position:fixed;
    bottom:7px;
    right: 100px;
    left: 280px;
    width: calc(100% - 380px);
}

#send-button{
    position:fixed;
    bottom:8px;
    right: 15px;
    height: 33px;
    width: 80px;
    text-align: center;
}

#channel-list{
    background-color: #2c3e50;
    position:fixed;
    bottom: 0px;
    left: 0px;
    top: 0px;
    width: 260px;
    overflow-y: auto;
}

.channel-button{
    position: relative;;
    left: 20px;
    right: 20px;
    width: 220px;
    margin-top: 7px;
}

#join-channel-message{
    position: relative;
    left:40%;
    margin-top: 30%;
    font-size: larger;
}

.message{
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-top: 15px;
    background-color: #2980b9;
    position: relative;
    left: 300px;
    right: 40px;
    padding: 10px;
    border-radius: 5px;
    width: calc(100% - 340px);
}

#own-message{
    background-color: #3ba9f1;
}

#messages-field{
    position: relative;
    bottom: 50px;
    height: calc(100%  - 30px);
}

#messages-field :first-child{
    margin-top: 70px;
}
