

body{
    background-color: #34495e;
    align-self: center;
    color: #ecf0f1;
}

h1{
    padding-bottom: 40px;
    text-align: center;
    color: #ecf0f1;
}

#login{
    position: fixed; /* or absolute */
    top: 10%;
    left: 40%;
    align-self: center;
}

#register{
    position: fixed; /* or absolute */
    top: 10%;
    left: 40%;
    align-self: center;
}

input{
    margin: auto;
    margin-bottom: 17px;
    display: block;
    align-self: center;
    text-align: center;
}

#errorMessage{
    color: #c0392b;
    text-align: center;
    margin-top: 15px;
    font-weight: 800;
}

a{
    color: #ecf0f1;
    text-align: center; 
}

