:root {
	--font-color: black;
	--bg-gradient: radial-gradient(circle, rgb(255,255,255) 0%, rgba(235,235,235,1) 100%);
	--content-bg-color: #ddd;
}

[data-theme="dark"] {
	--font-color: white;
	--bg-gradient: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(15, 15, 15, 1) 100%);
	--content-bg-color: #555;
}

[data-theme="disgusting"] {
	--font-color: magenta;
	--bg-gradient: radial-gradient(circle, rgb(0, 255, 0) 0%, rgba(15, 240, 15, 1) 100%);
	--content-bg-color: #2a2;
}

body {
	padding: 0;
	margin: 0;
	background: rgb(255,255,255);
	background: var(--bg-gradient);
	color: var(--font-color);
}

h1 {
	font-weight: 900;
	font-family: fantasy;
	font-size: 50px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 120px;
}


.theme-switch-wrapper {
	position: absolute;
	top: 2%;
	right: 2%;
	display: none;
	align-items: center; 
}

.theme-switch-wrapper>em {
	margin-left: 10px;
    font-size: 1rem;
}

.theme-switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
}

.theme-switch input {
	display:none;
}

.slider {
	background-color: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
}

.slider:before {
	background-color: #fff;
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: .4s;
	width: 26px;
}

input:checked + .slider {
	background-color: #666;
}

input:checked + .slider:before {
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.content_right {
	margin: 0;
	padding: 0;
	margin-bottom: 10%;
	width: 100%;
	height: 20%;
	float: right;
	display: flex;
	justify-content: flex-end;
}

.content_right>.header {
	font-family: fantasy;
	display: inline-block;
	margin-right: 5%;
	font-size: 35px;
}

.content_right>.main_content {
	background-color: var(--content-bg-color);
	display: flex;
	justify-content: flex-end;
	left: 0;
	right: 0;
	height: 100%;
	width: 65%;
	z-index: 1;
	padding-right: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 5%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.content_right>.main_content>.project_img {
	height: 100%;
	aspect-ratio: 1/1;
	margin-right: 2%;
	display: inline-block;
	border-radius: 5px;
}

.content_right>.main_content>.description {
	font-size: 100%;
	margin-right: 5%;
	margin-left: 10%;
	display: inline-block;
}
