/*colors from https://flatuicolors.com/palette/defo */
body{
    font-family: Arial, Helvetica, sans-serif; 
    /*background-image: url(../images/backgroundImage.jpg);*/

    margin:0px;
}

html{
    scroll-behavior: smooth;
    --webkit-scroll-behavoir: smooth;
    --moz-scroll-behavoir: smooth;
    --o-scroll-behavoir: smooth;
	
	background-color: #bbbbbb;
}

h2{
    margin-top: 150px;
    text-align: center;
    color:#000000;
}

h3{
    text-align: center;
    color:#000000;
}


input{
    width: 50%;
    height: 25px;
    max-width: 300px;
    margin-top:12px;
}

#loginButton{
    width: 15%;
    height: 25px;
    margin-top:20px;
}

#login{
    text-align: center;
}


a{
    color:#ecf0f1;
}
