html {
    font-family: Arial, Helvetica, sans-serif; 
	background-color: #dddddd;

	background-attachment: fixed;
}

body {
	margin: 0;
	position: absolute;
	height: 100%;
	width: 100%;
}

#top_logo {
	padding: 0;
	margin-left: 25%;
	margin-top: 10%;
	width: 40%;
	height: 40%;
}

#logo_img {
	position: absolute;
	left: 50%;
	top: 15%;
	display: block;
	filter: invert(1);
	height: 50%;
	transform: translate(-50%, -50%);
}

#logo_text {
	position: absolute;
	left: 51%;
	top: 30%;
	display: block;
	font-size: 300%;
	transform: translate(-50%, -50%);
	color: #fff
}

#main_div {
	padding: 0;
	margin-top: -5%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 5%;
	background-color: #eeeeeeee;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #fff;
}

#content {
	padding: 15px;
}

.middle {
	position: absolute;
	left: 51%;
	transform: translate(-50%, -50%);
}

#navigators {
	text-align: center;
	font-weight: 800;
}

.navigator_link {
	text-align: center;
	margin: 10px;
}

.project {
	align-items: center;
	align-content: center;
}

.project_text {
	text-align: center;
}

.project_header {
	text-align: center;
	margin-top: 23px;
	margin-bottom: 7px;
}

.project_link {
	text-align: center;
	width: 100%;
}

#background {
	margin: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: -100;
	background: linear-gradient(48deg, #0000ff, #dd2266);
	background-size: 150% 150%;

    -webkit-animation: background_gradient 15s ease infinite;
    -moz-animation: background_gradient 15s ease infinite;
    -o-animation: background_gradient 15s ease infinite;
    animation: background_gradient 15s ease infinite;
}

@-webkit-keyframes background_gradient {
    0%{background-position:0% 69%}
    50%{background-position:100% 32%}
    100%{background-position:0% 69%}
}
@-moz-keyframes background_gradient {
    0%{background-position:0% 69%}
    50%{background-position:100% 32%}
    100%{background-position:0% 69%}
}
@-o-keyframes background_gradient {
    0%{background-position:0% 69%}
    50%{background-position:100% 32%}
    100%{background-position:0% 69%}
}
@keyframes background_gradient {
    0%{background-position:0% 69%}
    50%{background-position:100% 32%}
    100%{background-position:0% 69%}
}

a {
	color: #000
}
